<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770967406718-6ut44f0s4gefs0sev9tvtsi47eque5n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770967406718-6ut44f0s4gefs0sev9tvtsi47eque5n1</string>
	<key>API_KEY</key>
	<string>AIzaSyDZcj7HsRC0880ToP-3vcDETp5D4JfjMnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>770967406718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stybyc</string>
	<key>PROJECT_ID</key>
	<string>stybyc-71621</string>
	<key>STORAGE_BUCKET</key>
	<string>stybyc-71621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770967406718:ios:564465af560f423ce5702f</string>
</dict>
</plist>